<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/socket.io-client/dist/socket.io.js"></script>
    <link rel="stylesheet" href="stylesheets/cart.css" />
    <title>Document</title>
    <script src="javascripts/fetch.js"></script>
  </head>
  <body>
    <div class="list" id="list"></div>
  </body>
  <script>
    let list = document.getElementById("list");
    let keys;
    let values;
    let Url = `<%=Url%>`;
    const socket = io(Url);
    getFetch(`${Url}/cart/fetch`)
      .then((data) => {
        keys = Object.keys(data);
        values = Object.values(data);
        reRender();
      })
      .catch((error) => {
        console.log(
          "There has been a problem with your fetch operation:",
          error
        );
      });

    function reRender() {
      let check = 0;
      let validList = [];
      for (let i = 0; i < values.length; i++) {
        if (values[i][0] > 0) validList.push(i);
      }
      if (validList.length > 0) {
        let listHtml = `
            </div>`;
        for (let i = 0; i < validList.length; i++) {
          let index = validList[i];
          check += values[index][0] * values[index][1];
          listHtml += `<div class="ob">
              <div class="foodcontainer">
                <span class="foodname">${keys[index]}&nbsp&nbsp&nbsp</span>
                <span>${values[index][1]}</span>
              </div>
              <button class="decrementbtn" id="decrementbtn">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="1em"
                  viewBox="0 0 448 512"
                >
                  <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                  <path
                    d="M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z"
                  />
                </svg>
              </button>
              <span class="foodnum" id="foodnum">${values[index][0]}</span>
              <button class="addbtn" id="addbtn">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="1em"
                  viewBox="0 0 448 512"
                >
                  <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                  <path
                    d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"
                  />
                </svg>
              </button>
            </div>`;
        }
        listHtml += `
            <div class="line">
            <div class="list_topbar">
            <span>${validList.length}項商品</span>
            <span>小計:$${check}</span>
            </div>
            <button id="submit">提交訂單</button>`;
        list.innerHTML = listHtml; // 設置 innerHTML
      } else {
        list.innerHTML = "";
      }
      let addbtn = document.getElementsByClassName("addbtn");
      let decrementbtn = document.getElementsByClassName("decrementbtn");
      let submit = document.getElementById("submit");

      submit.addEventListener("click", () => {
        getFetch(`${Url}/cart/fetch/order`)
          .then((res) => {
            socket.emit("addOrder");
            window.location.href = res.url; // 页面重定向到根路径
          })
          .catch((error) => {
            console.log(error);
          });
      });

      for (let i = 0; i < addbtn.length; i++) {
        addbtn[i].addEventListener("click", () => {
          // 傳遞字面量動態名稱要用[]包起來
          patchData(`${Url}/cart/fetch`, { [validList[i]]: 1 })
            .then((data) => {
              keys = Object.keys(data);
              values = Object.values(data);
              reRender();
            }) // JSON from `response.json()` call
            .catch((error) => console.log(error));
        });
      }

      for (let i = 0; i < addbtn.length; i++) {
        decrementbtn[i].addEventListener("click", () => {
          // 傳遞字面量動態名稱要用[]包起來
          patchData(`${Url}/cart/fetch`, { [validList[i]]: -1 })
            .then((data) => {
              keys = Object.keys(data);
              values = Object.values(data);
              reRender();
            }) // JSON from `response.json()` call
            .catch((error) => console.log(error));
        });
      }
    }
  </script>
</html>
