<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="topbar">
      <div class="container">
        <span>OrderEase</span>
        <div class="rightside">
          <ul>
            <li><a href="">我的訂單</a></li>
            <li><a href="">個人資料</a></li>
            <li><a href="/logout">登出</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="container">
        <div class="item1"></div>
      </div>
    </div>
  </body>
</html>
